<template>
  <div id="app">
    <el-menu theme="dark" :router="true" mode="horizontal">
      <el-menu-item index="/">Cocktails</el-menu-item>
      <el-menu-item index="/ingredients/all">Ingredients</el-menu-item>
    </el-menu>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
