<template>
  <div>
    <image-uploader :data-obj="cocktail"></image-uploader>
    <el-form ref="form" :model="cocktail" label-width="120px">
      <el-form-item label="Name">
        <el-input v-model="cocktail.name"></el-input>
      </el-form-item>
      <el-form-item label="Description">
        <el-input type="textarea" v-model="cocktail.description"></el-input>
      </el-form-item>

    </el-form>
    Steps
    <div v-for="(step, index) in cocktail.steps">
      Step {{index + 1}}
      <el-input-number v-model="step.value"  :min="1" :max="1000"></el-input-number>
      <el-select
        v-model="step.ingredient"
        filterable
        remote
        :placeholder="step.ingredient.name"
        :remote-method="getIngredients"
        :loading="loading">
        <el-option
          v-for="item in ingredients"
          :key="item._id"
          :label="item.name"
          :value="item">
        </el-option>
      </el-select>
      <el-button @click="removeStep(step, index)">Remove</el-button>
    </div>
    <el-button @click="addStep">Add Step</el-button>
    <span>
        <el-button @click="updateCocktail">Save</el-button>
    </span>
  </div>
</template>

<script>
  import Rest from '../mixins/Rest.vue'
  import ImageUploader from './ImageUploader.vue'
  export default {
    name: 'cocktail',
    mixins: [Rest],
    components: {
      'image-uploader': ImageUploader
    },
    data () {
      return {
        cocktail: {},
        restName: 'cocktails',
        ingredients: [],
        loading: false
      }
    },
    mounted () {
      var self = this
      this.restOne(this.$route.params.id, function (response) {
        self.cocktail = response.body
      })
    },
    methods: {
      updateCocktail: function () {
        var self = this
        this.restUpdate(this.cocktail, function (response) {
          self.cocktail = response.body
          self.$router.push(window.history.back())
        })
      },
      addStep: function () {
        this.cocktail.steps.push({
          value: 50,
          ingredient: {name: 'Select ingredient'}
        })
      },
      removeStep: function (step, index) {
        this.cocktail.steps.splice(index)
      },
      getIngredients: function (query) {
        var self = this
        self.loading = true
        this.$http.get('/api/ingredients/all')
          .then(function (response) {
            self.ingredients = response.body
            self.loading = false
          })
      }
    }
  }
</script>

<style>

</style>
