<template>
  <div>
    <el-button type="primary" @click="add">Add</el-button>
    <el-table
      :data="cocktails"
      style="width: 100%">
      <el-table-column
        width="100"
        label="Image">
        <template scope="scope">
          <img v-if="scope.row.image" :src="'/api/images/'+scope.row.image" class="avatar">
        </template>
      </el-table-column>
      <el-table-column
        align="left"
        prop="name"
        label="Name">
      </el-table-column>
      <el-table-column
        align="left"
        prop="description"
        label="Description">
      </el-table-column>
      <el-table-column
        width="150">
        <template scope="scope">
          <el-button-group>
            <el-button type="primary" icon="edit"
                       @click="handleEdit(scope.$index, scope.row)">
            </el-button>
            <el-button type="primary" icon="delete"
                       @click="handleDelete(scope.$index, scope.row)">
            </el-button>
          </el-button-group>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  import Rest from '../mixins/Rest.vue'
  export default {
    name: 'cocktails',
    mixins: [Rest],
    data () {
      return {
        cocktails: [],
        restName: 'cocktails'
      }
    },
    mounted () {
      var self = this
      this.restAll(function (response) {
        self.cocktails = response.body
      })
    },
    methods: {
      add: function () {
        var self = this
        this.restAdd(function (response) {
          self.cocktails.push(response.body)
        })
      },
      handleEdit (index, row) {
        this.$router.push({name: 'cocktail', params: {id: row._id}})
      },
      handleDelete (index, row) {
        var self = this
        this.$confirm('Delete ' + row.name + '?', 'Deletion', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          self.restDelete(row._id, function (response) {
            self.cocktails.splice(index, 1)
          })
        }).catch(() => {})
      }
    }
  }
</script>

<style scoped>
  .avatar {
    max-width: 64px;
    max-height: 64px;
    margin: 10px auto 10px auto;
  }
</style>
