<template>
  <el-upload
    class="avatar-uploader"
    action="/api/images/upload"
    :show-file-list="false"
    :on-success="handleAvatarSuccess"
    :before-upload="beforeAvatarUpload">
    <img v-if="imageUrl" :src="imageUrl" class="avatar">
    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
  </el-upload>
</template>

<script>
  export default {
    name: 'image-uploader',
    props: {
      dataObj: Object
    },
    computed: {
      imageUrl: function () {
        if (this.dataObj && this.dataObj.image) {
          return '/api/images/' + this.dataObj.image
        }
        return null
      }
    },
    methods: {
      handleAvatarSuccess (res, file) {
        this.dataObj.image = res
      },
      beforeAvatarUpload (file) {
        console.log(file.type)
        const isRightFormat = file.type === 'image/jpeg' || file.type === 'image/png'
        const isLt2M = file.size / 1024 / 1024 < 2

        if (!isRightFormat) {
          this.$message.error('Avatar picture must be JPG or PNG format!')
        }
        if (!isLt2M) {
          this.$message.error('Avatar picture size can not exceed 2MB!')
        }
        return isRightFormat && isLt2M
      }
    }
  }
</script>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    max-width: 178px;
    max-height: 178px;
    display: block;
  }
</style>
