<template>
  <div class="ingredient">
    <image-uploader :data-obj="ingredient"></image-uploader>
    <el-form ref="form" :model="ingredient" label-width="120px">
      <el-form-item label="Name">
        <el-input v-model="ingredient.name"></el-input>
      </el-form-item>
      <el-form-item label="Description">
        <el-input type="textarea" v-model="ingredient.description"></el-input>
      </el-form-item>
      <span>
        <el-button @click="updateIngredient">Save</el-button>
      </span>
    </el-form>
  </div>
</template>

<script>
  import Rest from '../mixins/Rest.vue'
  import ImageUploader from './ImageUploader.vue'
  export default {
    name: 'ingredient',
    mixins: [Rest],
    components: {
      'image-uploader': ImageUploader
    },
    data () {
      return {
        ingredient: {},
        restName: 'ingredients'
      }
    },
    mounted () {
      var self = this
      this.restOne(this.$route.params.id, function (response) {
        self.ingredient = response.body
      })
    },
    methods: {
      updateIngredient: function () {
        var self = this
        this.restUpdate(this.ingredient, function (response) {
          self.ingredient = response.body
          self.$router.push(window.history.back())
        })
      }
    }
  }
</script>

<style>

</style>
